body {
  background-color: #000;
  padding: 20px;
}

.parent {
  background-color: #fff;
  width: 100%;
  height: 900px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
}
.child1 {
  background-color: wheat;
  width: 200px;
  height: 200px;
}
.child2 {
  background-color: #820000;
  width: 200px;
  height: 250px;
}
